@mixin applyTheme(
  $bg-primary,
  $bg-secondary,
  $bg-third,
  $color-primary,
  $color-secondary
) {
  .color-scheme-primary {
    background-color: $bg-primary;
    color: $color-primary;
  }

  .color-scheme-secondary {
    background-color: $bg-secondary;
    color: $color-secondary;
    border: $color-secondary;
  }

  .color-scheme-third {
    background-color: $bg-third;
    color: $color-primary;
  }

  .typography-primary {
    color: $color-primary;
  }

  .typography-secondary {
    color: $color-secondary;
  }
}
