@mixin applyTheme(
  $bg-primary,
  $bg-secondary,
  $bg-third,
  $color-primary,
  $color-secondary
) {
  .color-scheme-primary {
    background-color: $bg-primary;
    color: $color-primary;
  }

  .color-scheme-secondary {
    background-color: $bg-secondary;
    color: $color-secondary;
    border: $color-secondary;
  }

  .color-scheme-third {
    background-color: $bg-third;
    color: $color-primary;
    &:hover {
      box-shadow: inset 0px 2px 10px 0px $bg-secondary;
      border: 1px solid $bg-secondary;
    }
  }

  .color-scheme-third-hover {
    &:hover {
      box-shadow: inset 0px 2px 10px 0px $bg-secondary;
      border: 1px solid $bg-secondary;
    }
  }

  .typography-primary {
    color: $color-primary;
  }

  .typography-secondary {
    color: $color-secondary;
  }
}
