$dark-theme-background-primary: #141414;
$dark-theme-background-secondary: #1f1f1f;
$dark-theme-background-third: #333333;
$dark-theme-color-primary: #fff;
$dark-theme-color-secondary: #cbf157;

// TODO 1: Define the light theme colors
$light-theme-background-primary: #f0ecf7;
$light-theme-background-secondary: #fffdfd;
$light-theme-background-third: #f0ecf7;

$light-theme-color-primary: #000000;
$light-theme-color-secondary: blue;
