.app {
  composes: color-scheme-primary from global;
  width: 100%;
  height: 100vh;
  display: block;

  overflow: hidden;

  font-family: "Open Sans", serif;
}

.position {
  position: absolute;
  top: 0;
  right: 10%;
}
