.app {
  text-align: center;
}

.appContainer {
  composes: color-scheme-primary from global;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  justify-content: center;
  font-family: "Open Sans", serif;
}
