@import "src/ui/styles/scheme.scss";
@import "src/ui/styles/mixins-theme.scss";

body {
  margin: 0;

  &.current-theme-light {
    // TODO 2: Apply the light theme colors
    @include applyTheme(
      $light-theme-background-primary,
      $light-theme-background-secondary,
      $light-theme-background-third,
      $light-theme-color-primary,
      $light-theme-color-secondary
    );
  }

  &.current-theme-dark {
    @include applyTheme(
      $dark-theme-background-primary,
      $dark-theme-background-secondary,
      $dark-theme-background-third,
      $dark-theme-color-primary,
      $dark-theme-color-secondary
    );
  }
}

:root {
  --light-text: #fff;
  --yellow: #cbf157;
  --background-color: #141414;
  --first-color: #333333;
  --second-color: #1f1f1f;
  // --click-color: #292323;
  --click-color: #2e2e2e;
  // --red: red;
  // --blue: blue;
}
