@font-face {
  font-weight: 400;
  font-family: "OpenSans";
  src: url("./src/components/fonts/OpenSans-Medium.ttf") format("ttf");
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--background-color);
  overflow-x: hidden;
  justify-content: center;
  font-family: "Open Sans";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
