.card {
  width: 276px;
  flex-direction: column;
  margin: 62px 50px;
  border-radius: 10px;
  border: 1px solid var(--second-color);
  background: var(--second-color);
  display: flex;
  padding: 50px 43px;
  align-items: center;
  justify-content: flex-end;
}

.buttons-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}

.marginBottom {
  margin-bottom: 25px;
}
.buttonWidth {
  width: 100%;
}

.decoration {
  text-decoration: none;
}
