.button {
  font-size: 14px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0.2px;
  display: inline-flex;
  height: 50px;
  width: 280px;
  padding: 20px 36px;
  align-items: center;
  flex-shrink: 0;
  border: 1px solid var(--first-color);
  background-color: var(--first-color);
  box-shadow: var(--background-color);
  color: var(--light-text);
  border-radius: 10px;
  text-align: center;
  justify-content: center;
  font-family: "Open Sans";
}

.buttons-box {
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
